<h1>Get Started!</h1>
<hr class="my-4">
<p class="mb-4">Moove and groove provides your online fitness tracker. Select your exercise, start the timer and record all your sessions in your personal fitness journal!</p>
<%= link_to 'Sign up', signup_path, class: 'btn btn-primary btn-lg' %>