footer {
    height: 150px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background: rgba(0,0,0,0.3);
}

.footer-nav {
    height: 150px;
    padding-top: 2px;
    padding-bottom: 4px;
    font-size: 1.1rem;
    width: 100px
}

/* DONT THINK THESE LINKS ARE NECESSARY SO HAVE REMOVED. CAN BE RE-ADDED IF NEEDED FOR VALIDATION*/
#non-signed-in-footer-links {
    display: none;
}

@media only screen and (max-width: 425px) {
    .footer-nav {
        width: auto;
        height: auto;
        font-size: 1rem;
        justify-content: space-around;
        padding-top: 15px;
      }

    #social-div p {
        display: none;
    }

    #social-div {
        justify-content: space-around;
        text-align: center;
        margin-top: 15px;
    }
  }

.footer-nav li a {
    padding: 2px;
    color: rgba(255,255,255,0.7);
}

.footer-nav li a:hover {
    color: rgba(255,255,255,1.0);
}

#social-div {
    color: rgba(255,255,255,0.7);
}

#social-div a {
    color: rgba(255,255,255,0.7);
}

#social-div i:hover {
    color: rgba(255,255,255,1.0);
    text-decoration: none;
}

#social-div p {
    text-decoration: underline;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.social-links {
    font-size: 1.9rem;
    margin-right: 10px;
}