.navbar {
  background: $navbarColor !important;
}

.dropdown-menu {
  background:  rgba(0,0,0,0.3);
  border: none;
}

.navbar-nav .dropdown-menu {
  margin-top: 8px;
  margin-right: 10x;
  border-radius: 0;
}

.dropdown-item {
  color: white;
}

.dropdown-menu a:hover {
  color: black !important;
  background: white !important;
}