//$navbarColor: #323738;
$navbarColor:  rgba(0,0,0,0.3);

$green: #A6D18A;
$red: #A02B3E;
$greyblue: #465362;
$lightblue: #BBE5ED;
$lightpurple: #BFACC8;
$peach: #ECB8A5;
$pink: #E89B9B;
$orange: #F2B779;
$blue: #6A7FDB;
$gold: #D8BD8F;

$primary: #007cff;