//$navbarColor: #323738;
$navbarColor:  rgba(0,0,0,0.3);

$green: #BEEF9E;
$red: #550C18;
$greyblue: #465362;
$lightblue: #BBE5ED;
$lightpurple: #BFACC8;
$peach: #ECB8A5;
$purple: #B594B6;
$darkpurple: #413F54;
$blue: #6A7FDB;
$gold: #D1BE9C;