<div class="row">
    <div id="social-links" class="col-md-3 offset-md-1">
        <p>Follow Us:</p>
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter-square"></i>
    </div>

    <ul class="nav flex-column footer-nav justify-content-around col-md-2">
        <%= render footer_links %>
    </ul>
</div>