<div class="container">
    <div class="row justify-content-between">
        <div class="col-md-3 pt-2 order-2 order-sm-1" id="social-div">
            <p>Follow Us</p>
            <%= link_to  "https://www.facebook.com/", :target => "_blank" do%>
                <span class="social-links"><i class="fab fa-facebook-square"></i></span>
            <% end %>
            <%= link_to  "https://www.instagram.com/", :target => "_blank" do%>
                <span class="social-links"><i class="fab fa-instagram"></i></span>
            <% end %>
            <%= link_to  "https://www.twitter.com/", :target => "_blank" do%>
                <span class="social-links"><i class="fab fa-twitter-square"></i></span>
            <% end %>
        </div>
        <%= render footer_links %>   
    </div>
</div>