<div class="col-md-2 order-1 order-sm-2" id="non-signed-in-footer-links">
    <ul class="nav flex-row footer-nav">
        <li class="nav-item pt-1">
            <%= link_to 'Log in', login_path, class:"nav-link" %>
        </li>
        <li class="nav-item pt-1">
            <%= link_to 'Sign up', signup_path, class:"nav-link" %>
        </li>
    </ul>
</div>