<div class="container main">
  <div class="jumbotron text-center">
    <h1>Get Started!</h1>
    <p>...</p>
    
      <p><a class="btn btn-primary btn-lg" role="button">Log in</a></p>
   
  </div>
</div>