/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 */

@import "bootstrap";
@import "rails_bootstrap_forms";

// Variables
@import "base/variables";

//Partials
@import "partials/layout/*";
@import "pages";
@import "partials/cards";

//Media queries
@import "responsive/*";

body {
    background-image: linear-gradient(to bottom right, #A6686C, #472E3E);
    background-size: cover;
    background-repeat: no-repeat;
    //height: 100vh;
    min-height: 100vh;
    color: white;
}

.main {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}
