<div class="container">
    <div class="row justify-content-center">
        <h1> New Entry </h1>
    </div>
    <div class="row justify-content-center">
        <%= render 'activities/activity_option_cards' %>
    </div>

    <div class="row text-center">
        <%= link_to 'Back', activities_path %>
    </div>
</div>