
<% @categories.each do |category| %>
    
    <div class="card col-sm-6 col-md-3 categories" id="<%= category.id %>">
        <%=  link_to new_activity_path(category.id) do%>
        <img src="" class="card-img-top" alt="...">
        <% end %>
        <div class="card-body">
            <p class="card-title"><%= category.name %></p>
        </div>
    </div>
    
<% end %>