
<% @categories.each do |category| %>
    <div class="card col-sm-4" id="<%= category.id %>">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text"><%= category.name %></p>
    </div>
    </div>
<% end %>