<h2 class="text-center page-title">Edit activity entry </h2>
    
<div class="container">

    <%= render 'form' %>
        
    <div class="row">
        <div class="offset-md-3 col-md-6 col-sm-12">
            <%= link_to 'Back', activities_path %>
        </div>
    </div>

</div>