<div class="container text-center main">

    <h1 id="timer-header">Timer</h1>

<div class="jumbotron">


    <div class="row justify-content-center">
        <h1 id="timer">00 : 00</h1>
    </div>
    <div class="row justify-content-center">
        <button type="button" class="btn btn-lg btn-outline-success" id="toggle">Start</button> 
        <button type="button" class="btn btn-lg btn-outline-primary" id="reset">Reset</button>
    </div>
    <div class="row justify-content-center">
        <%= link_to activities_path do%>
            <button type="button" class="btn btn-lg btn-secondary" id="save">Save</button>
        <% end %>
    </div>
</div>
</div>