<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="col-sm-7">
      <div class="navbar-header">
        <%= link_to 'Moove and Groove', root_path, class: 'navbar-brand' %>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="col-sm-5">
      <div class=" navbar-right">
        <ul class="nav navbar-nav">
          <%= render collapsible_links_partial_path %>
        </ul>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>